<div class="mes-ue-layout">
  <app-sidebar-mes-ue [ueId]="selectedUeId" class="sidebar"></app-sidebar-mes-ue>
  <div class="mes-ue-sections">
    <div id="info">
      <app-sections-ue [sectionTitle]="'info'" [ueId]="selectedUeId"></app-sections-ue>
    </div>
    <div id="cm">
      <app-sections-ue [sectionTitle]="'CM'" [ueId]="selectedUeId"></app-sections-ue>
    </div>
    <div id="td">
      <app-sections-ue [sectionTitle]="'TD'" [ueId]="selectedUeId"></app-sections-ue>
    </div>
    <div id="tp">
      <app-sections-ue [sectionTitle]="'TP'" [ueId]="selectedUeId"></app-sections-ue>
    </div>
  </div>
</div>
