# Compiled output
/dist/
/tmp/
/out-tsc/
/bazel-out/

# Angular
.angular/
.angular/cache/
/coverage/

# Node
node_modules/
noodle_WE4b/node_modules/
noodle_WE4b/backend/node_modules/
npm-debug.log*
yarn-error.log*

# Logs
*.log

# IDEs and editors
.idea/
/.project
.classpath
*.launch
.settings/
*.sublime-workspace
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local ignored files
/dataSources.local.xml

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Sass cache
.sass-cache/

# System files
.DS_Store
Thumbs.db

# Temporary Files
/testem.log
/connect.lock

# History and metadata
.history/

# Fichiers sensibles spécifiques
*.env
utilisateur.json
nouveaux_mdp.txt
dump/noodle/

# Exceptions pour les fichiers importants
!src/**/*.component.ts
!src/**/*.component.html
!src/**/*.component.css
!src/**/*.module.ts
/dump.zip
