<div class="module-ue" [class.closed]="!opened">
  <div class="module-header" (click)="toggleModule()">
    <button class="toggle-btn" [attr.aria-label]="opened ? 'Fermer le module' : 'Ouvrir le module'">
      <span [ngClass]="opened ? 'arrow-down' : 'arrow-right'"></span>
    </button>
    <h3>{{ module?.name }}</h3>
  </div>
  <div
    class="module-content-wrapper"
    [style.maxHeight]="opened ? contentHeight + 'px' : '0px'"
    [style.opacity]="opened ? 1 : 0"
    [style.overflow]="opened ? 'visible' : 'hidden'"
    #contentWrapper
  >
    <div class="module-content" #content>
      <p *ngIf="module?.description">{{ module.description }}</p>
      <ul *ngIf="module?.resources?.length">
        <li *ngFor="let res of module.resources">
          <a [href]="res.link" target="_blank">{{ res.label }}</a>
        </li>
      </ul>
      <ng-content></ng-content>
      <div class="module-posts" *ngIf="posts.length">
        <h4>Posts</h4>
        <div class="post" *ngFor="let post of posts">
          <div class="post-header">
            <span class="post-title">{{ post.titre }}</span>
            <span class="post-date">{{ post.dateCreation | date:'short' }}</span>
          </div>
          <div class="post-content">{{ post.contenu }}</div>
          <div class="post-meta">
            <span class="post-type">{{ post.type }}</span>
            <span class="post-priority">{{ post.priorite }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
